#load-screen {
  background-color: white;
  /*background: url(../images/header-back.png);*/
  position: fixed;
  z-index: 10000;
  top: 0px;
  width: 100%;
  height: 1600px;
}

#loading {
  width: 300px;
  height: 300px;
  margin: 10% auto;

  background: url(../images/332.gif);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}
#loading1 {
  width: 300px;
  height: 300px;
  margin: 10% auto;
  background: url(../images/99.gif);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.active {
  background: lime !important;
  color: white;
}

body {
  /* background: linear-gradient(to right, #42275a 0%, #ddd6f3 100%); */

  font-size: 12px;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.date__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;
}

.date__box .date__day {
  font-size: 22px;
}

.blog-card {
  padding: 30px;
  position: relative;
}

.blog-card .date__box {
  opacity: 0;
  transform: scale(0.5);
  transition: 300ms ease-in-out;
}

.blog-card .blog-card__background,
.blog-card .card__background--layer {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-card .blog-card__background {
  padding: 15px;

  /* background: linear-gradient(to right, #000428 0%, #004e92 100%); */
  /* background: linear-gradient(to right, #304352 0%, #d7d2cc 100%); */
  background: linear-gradient(to right, #8e9eab 0%, #d7d2cc 100%);
}

.blog-card .card__background--wrapper {
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
  position: relative;
  overflow: hidden;
}

.blog-card .card__background--main {
  height: 100%;
  position: relative;
  transition: 300ms ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-card .card__background--layer {
  z-index: 0;
  opacity: 0;
  background: rgba(51, 51, 51, 0.9);
  transition: 300ms ease-in-out;
}

.blog-card .blog-card__head {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-card .blog-card__info {
  z-index: 10;
  background: white;
  padding: 20px 15px;
}

.blog-card .blog-card__info h5 {
  transition: 300ms ease-in-out;
}

.blog-card:hover .date__box {
  opacity: 1;
  transform: scale(1);
}

.blog-card:hover .card__background--main {
  transform: scale(1.2) rotate(5deg);
}

.blog-card:hover .card__background--layer {
  opacity: 1;
}

.blog-card:hover .blog-card__info h5 {
  color: #cc8e35;
}

a.icon-link {
  color: #363738;
  transition: 200ms ease-in-out;
}

a.icon-link i {
  color: #ffb535;
}

a.icon-link:hover {
  color: #ffb535;
  text-decoration: none;
}

.btn1 {
  background: white;
  color: #363738;
  font-weight: bold;
  outline: none;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0;
  border: none;
}

.btn1:focus {
  box-shadow: none;
}

.btn1:hover {
  background: #ffb535;
  color: #fff;
}

.btn1.btn--with-icon {
  padding-right: 20px;
}

.btn1.btn--with-icon i {
  padding: 0px 30px 0px 15px;
  margin-right: 10px;
  height: 50px;
  line-height: 50px;
  vertical-align: bottom;
  color: white;
  background: #ffb535;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}

.btn1.btn--only-icon {
  width: 50px;
}

@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* font-family: 'Open Sans'; */
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: "Heebo";
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: "Open Sans";
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card:before,
.card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }

  .info {
    justify-content: center;
  }

  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }

  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }

  .info h1 {
    margin: 0;
  }
}

div {
  border-radius: 20px;
}
.well {
  border-radius: 15px;
}
.btn-sml {
  font-size: 15px;
  border-radius: 8px;
  height: 30px;
  padding: revert;
}

.wt {
  color: white;
}
.wt1 {
  color: black;
  background: linear-gradient(to right, #8e9eab 0%, #d7d2cc 100%);
  padding: 5px;
  margin-bottom: 10px;
}
.txt20 {
  font-size: 20px;
}
.blog_post {
  z-index: 10;
  background: white;
  padding: 20px 15px;
  margin-top: 10px;
}
.list-items {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.content {
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-indent: 25px;
  letter-spacing: 1px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
.title {
  font-family: "Roboto", sans-serif;
}

nav.stroke a,
nav.fill a {
  position: relative;
}
nav.stroke a:after,
nav.fill a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke a:hover:after {
  width: 100%;
}
.navbar a:hover,
.navbar a:focus {
  color: white !important;
}

/* 
USer profile */

/* body {
  color: #797979;
  background: #f1f2f7;
  font-family: "Open Sans", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
} */

.profile-nav,
.profile-info {
  margin-top: 30px;
}

.profile-nav .user-heading {
  /* background: #fbc02d; */
  background-color: #5ab9ea;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 15px;
  text-align: center;
}

.profile-nav .user-heading.round a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.profile-nav .user-heading a img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 5px;
}

.profile-nav .user-heading p {
  font-size: 12px;
}

.profile-nav ul {
  margin-top: 1px;
}

.profile-nav ul > li {
  border-bottom: 1px solid #ebeae6;
  margin-top: 0;
  line-height: 30px;
}

.profile-nav ul > li:last-child {
  border-bottom: none;
}

.profile-nav ul > li > a {
  border-radius: 0;
  -webkit-border-radius: 0;
  color: #89817f;
  border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover,
.profile-nav ul > li > a:focus,
.profile-nav ul li.active a {
  background: #f8f7f5 !important;
  border-left: 5px solid #fbc02d;
  color: #89817f !important;
}

.profile-nav ul > li:last-child > a:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i {
  font-size: 16px;
  padding-right: 10px;
  color: #bcb3aa;
}

.r-activity {
  margin: 6px 0 0;
  font-size: 12px;
}

.p-text-area,
.p-text-area:focus {
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #c3c3c3;
  font-size: 16px;
}

.profile-info .panel-footer {
  background-color: #f8f7f5;
  border-top: 1px solid #e7ebee;
}

.profile-info .panel-footer ul li a {
  color: #7a7a7a;
}

.bio-graph-heading {
  /* background: #fbc02d; */
  background-color: #5ab9ea;
  color: #fff;
  text-align: center;
  font-style: italic;
  padding: 40px 110px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 300;
}

.bio-graph-info {
  color: black;
  font-size: 15px;
  font-weight: 300;
}

.bio-graph-info h1 {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 20px;
}

.bio-row {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  padding: 0 15px;
}

.bio-row p span {
  width: 100px;
  display: inline-block;
}

.bio-chart,
.bio-desk {
  float: left;
}

.bio-chart {
  width: 20%;
}

.bio-desk {
  width: 60%;
}

.bio-desk h4 {
  font-size: 15px;
  font-weight: 400;
}

.bio-desk h4.terques {
  color: #4cc5cd;
}

.bio-desk h4.red {
  color: #e26b7f;
}

.bio-desk h4.green {
  color: #97be4b;
}

.bio-desk h4.purple {
  color: #caa3da;
}

.file-pos {
  margin: 6px 0 10px 0;
}

.profile-activity h5 {
  font-weight: 300;
  margin-top: 0;
  color: #c3c3c3;
}

.summary-head {
  background: #ee7272;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #ee7272;
}

.summary-head h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.summary-head p {
  color: rgba(255, 255, 255, 0.6);
}

ul.summary-list {
  display: inline-block;
  padding-left: 0;
  width: 100%;
  margin-bottom: 0;
}

ul.summary-list > li {
  display: inline-block;
  width: 19.5%;
  text-align: center;
}

ul.summary-list > li > a > i {
  display: block;
  font-size: 18px;
  padding-bottom: 5px;
}

ul.summary-list > li > a {
  padding: 10px 0;
  display: inline-block;
  color: #818181;
}

ul.summary-list > li {
  border-right: 1px solid #eaeaea;
}

ul.summary-list > li:last-child {
  border-right: none;
}

.activity {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.activity.alt {
  width: 100%;
  float: right;
  margin-bottom: 10px;
}

.activity span {
  float: left;
}

.activity.alt span {
  float: right;
}
.activity span,
.activity.alt span {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #eee;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.activity.terques span {
  background: #8dd7d6;
}

.activity.terques h4 {
  color: #8dd7d6;
}
.activity.purple span {
  background: #b984dc;
}

.activity.purple h4 {
  color: #b984dc;
}
.activity.blue span {
  background: #90b4e6;
}

.activity.blue h4 {
  color: #90b4e6;
}
.activity.green span {
  background: #aec785;
}

.activity.green h4 {
  color: #aec785;
}

.activity h4 {
  margin-top: 0;
  font-size: 16px;
}

.activity p {
  margin-bottom: 0;
  font-size: 13px;
}

.activity .activity-desk i,
.activity.alt .activity-desk i {
  float: left;
  font-size: 18px;
  margin-right: 10px;
  color: #bebebe;
}

.activity .activity-desk {
  margin-left: 70px;
  position: relative;
}

.activity.alt .activity-desk {
  margin-right: 70px;
  position: relative;
}

.activity.alt .activity-desk .panel {
  float: right;
  position: relative;
}

.activity-desk .panel {
  background: #f4f4f4;
  display: inline-block;
}

.activity .activity-desk .arrow {
  border-right: 8px solid #f4f4f4 !important;
}
.activity .activity-desk .arrow {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

.activity-desk .arrow-alt {
  border-left: 8px solid #f4f4f4 !important;
}

.activity-desk .arrow-alt {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  right: -7px;
  position: absolute;
  top: 13px;
  width: 0;
}

.activity-desk .album {
  display: inline-block;
  margin-top: 10px;
}

.activity-desk .album a {
  margin-right: 10px;
}

.activity-desk .album a:last-child {
  margin-right: 0px;
}

/* preloader */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1500;
  background-color: #eff0f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader.fade-out {
  opacity: 0;
  transition: all 0.6s ease;
}
.preloader .box {
  width: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.preloader .box div {
  height: 15px;
  width: 15px;
  background-color: #2eb1ed;
  border-radius: 50%;
  animation: loader 1s ease infinite;
}
.preloader .box div:nth-child(2) {
  animation-delay: 0.1s;
}
.preloader .box div:nth-child(3) {
  animation-delay: 0.1s;
}
@keyframes loader {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
